body {
  color: white;
  background-color: black;
}

.nav-link {
  font-size: 22px;
  color: white;
  position: relative;
  text-decoration: none;
  margin-left: 50px;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header-text {
  position: absolute;
  top: 50%;
  width: 50%;
  left: 0;
}

.header-image {
  height: 800px;
  /* Position and center the image to scale nicely on all screens */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 2px solid black;
  background-image: url("/static/images/header.png");
}

.hero-image {
  height: 400px;
  /* Position and center the image to scale nicely on all screens */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 2px solid black;
  background-position: center;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(246, 246, 246, 0.368);
  width: 75%;
  padding: 5%;
}

.hero-text h1 {
  color: rgb(27, 27, 151);
}
.form-rounded {
  border-radius: 1rem;
}

footer {
  background-color: darkgray;
}

.service {
  background-color: #0094fe4a;
  padding: 3%;
  border-bottom: 1px solid rgb(125, 114, 114);
}

.card {
  background-color: rgba(150, 171, 215, 0);
  color: white;
}

.card-body {
  border-radius: 5%;
}

#contact-form {
  background-color: #0094fe4a;
  padding: 2%;
}

.list-group-item {
  color: white;
  background-color: #0094fe4a;
}

.list-group {
  border-radius: 5px;
}

.card-img-top {
  width: 100px;
  height: auto;
}
